html {font-size:16px;}
body {backgroud-color:white}

h2 {font-size: 16px;}
h2 {font-weight: 600;}

.linkleft{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}
.linkleft:hover{
    color: #fff;
    background-color: #a130b3
}

#bg1 {
    background-image: url(../images/top1.webp);
    background-repeat: no-repeat;
}

#s1 {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    text-shadow:2px 3px 5px #5d5656;
    background: linear-gradient(to bottom right, #008b8b, #ffff00);
}

#a1 {
    color:black;
    text-decoration:none;
    text-shadow:2px 3px 5px #ae6396;
}
#a1:hover{
    color:black;
    text-decoration:none;
    text-shadow:2px 3px 5px #5d5656;
}

